{% extends 'base.html' %}

{% block content %}
<div class="container-fluid d-flex align-items-center vh-100">
    <div class="row justify-content-center w-100">
        <div class="col-md-10">
            <div class="text-center">
                <div>
                    <h1 class="h1 font-weight-bold text-light">Unlimited movies, TV shows, and more</h1>
                    <p class="h3 lead text-light">Tonton dimanapun, kapanpun.</p>
                    <div class="mt-4">
                        <a class="btn btn-danger btn-lg ml-2" href="{% url 'authentication:form-register' %}" role="button">Register</a>
                        <a class="btn btn-secondary btn-lg ml-2" href="#" role="button">Tonton Trailer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        background-image: url('https://user-images.githubusercontent.com/16425113/129554147-6ac7ba51-43e7-4c8e-ba77-e646a3ef6b12.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        position: relative;
    }

    /* Black gradient overlay */
    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
</style>
{% endblock %}
