{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5 shadow">
                <div class="card-body text-center">
                    <h2 class="card-title">PacilFlix - &lt;16&gt;</h2>

                    <div class="mt-4">
                        <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Login</a>
                    </div>
                    <div class="mt-4">
                        <a class="btn btn-secondary btn-lg btn-block" href="#" role="button">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
