{% extends 'base.html' %}

{% block title %}Kontributor{% endblock %}

{% block content %}
<h2>Daftar Kontributor</h2>

<!-- Filter Buttons -->
<div class="mb-3">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center" style="width: 33%;">
          <form method="GET" action="">
            <button class="btn {% if search_query == 'pemain' %}btn-danger{% else %}btn-dark{% endif %} w-100" type="submit" name="search" value="pemain">Pemain</button>
          </form>
        </th>
        <th class="text-center" style="width: 33%;">
          <form method="GET" action="">
            <button class="btn {% if search_query == 'sutradara' %}btn-danger{% else %}btn-dark{% endif %} w-100" type="submit" name="search" value="sutradara">Sutradara</button>
          </form>
        </th>
        <th class="text-center" style="width: 33%;">
          <form method="GET" action="">
            <button class="btn {% if search_query == 'penulis_skenario' %}btn-danger{% else %}btn-dark{% endif %} w-100" type="submit" name="search" value="penulis_skenario">Penulis Skenario</button>
          </form>
        </th>
      </tr>
    </thead>
  </table>
</div>

<div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nama</th>
          <th scope="col">Tipe</th>
          <th scope="col">Jenis Kelamin</th>
          <th scope="col">Kewarganegaraan</th>
        </tr>
      </thead>
      <tbody>
        {% if page_obj.object_list %}
          {% for kontributor in page_obj.object_list %}
          <tr>
            <th scope="row">{{ kontributor.nama }}</th>
            <td>{{ kontributor.tipe }}</td>
            <td>{{ kontributor.jenis_kelamin }}</td>
            <td>{{ kontributor.kewarganegaraan }}</td>
          </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="4" class="text-center">
              Tidak ada kontributor yang ditemukan. Silakan pilih salah satu tipe 'Sutradara', 'Pemain', atau 'Penulis Skenario'.
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ search_query }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == num %}active{% endif %}">
          <a class="page-link" href="?page={{ num }}&search={{ search_query }}">{{ num }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ search_query }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
