{% extends 'base.html' %}

{% block title %}
Halaman Beli
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h2 class="text-center mb-4">Informasi Paket yang Ingin Dibeli:</h2>
      {% if package %}
      <div class="card shadow mb-4">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Nama: </strong>{{ package.0 }}</li>
            <li class="list-group-item"><strong>Harga: </strong>{{ package.1 }}</li>
            <li class="list-group-item"><strong>Resolusi Layar: </strong>{{ package.2 }}</li>
          </ul>
        </div>
      </div>
      <form method="POST" action="{% url 'langganan:bayar' %}">
        {% csrf_token %}
        <input type="hidden" name="package_name" value="{{ package.0 }}">
        <h2 class="text-center mb-4">Pilih Metode Pembayaran:</h2>
        <div class="card shadow mb-4">
          <div class="card-body">
            <div class="form-group">
              <label for="metodePembayaran">Metode Pembayaran</label>
              <select class="form-control" id="metodePembayaran" name="metode_pembayaran">
                <option value="transfer_bank">Transfer Bank</option>
                <option value="kartu_kredit">Kartu Kredit</option>
                <option value="e-wallet">E-Wallet</option>
              </select>
            </div>
            <button type="submit" class="btn btn-dark my-2 my-sm-0">Bayar</button>
          </div>
        </div>
      </form>
      {% else %}
      <p class="text-center">Paket tidak ditemukan.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
