{% extends 'base.html' %}

{% block title %}
Halaman Kelola Langganan
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h2 class="text-center mb-4">Paket Langganan Aktif Anda:</h2>
      {% if current_subscription %}
      <div class="card shadow mb-4">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Nama: </strong>{{ current_subscription.0 }}</li>
            <li class="list-group-item"><strong>Harga: </strong>{{ current_subscription.1 }}</li>
            <li class="list-group-item"><strong>Resolusi Layar: </strong>{{ current_subscription.2 }}</li>
            <li class="list-group-item"><strong>Tanggal Dimulai: </strong>{{ current_subscription.3 }}</li>
            <li class="list-group-item"><strong>Tanggal Akhir: </strong>{{ current_subscription.4 }}</li>
            <li class="list-group-item"><strong>Metode Pembayaran: </strong>{{ current_subscription.5 }}</li>
            <li class="list-group-item"><strong>Tanggal Pembayaran: </strong>{{ current_subscription.6 }}</li>
          </ul>
        </div>
      </div>
      {% else %}
      <p class="text-center">Anda belum memiliki paket yang aktif.</p>
      {% endif %}

      <h2 class="text-center mb-4">Pilih Paket Lain:</h2>
      <div class="card-deck">
        {% for package in packages %}
        <div class="card shadow mb-4">
          <div class="card-body">
            <h5 class="card-title">{{ package.0 }}</h5>
            <p class="card-text">Harga: {{ package.1 }}</p>
            <p class="card-text">Resolusi Layar: {{ package.2 }}</p>
            <form method="GET" action="{% url 'langganan:bayar' %}">
              <input type="hidden" name="package" value="{{ package.0 }}">
              <button type="submit" class="btn btn-dark my-2 my-sm-0">Beli</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
      <h2 class="text-center mb-4">Riwayat Transaksi:</h2>
      <div class="card shadow mb-4">
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nama Paket</th>
                <th>Harga</th>
                <th>Resolusi Layar</th>
                <th>Tanggal Dimulai</th>
                <th>Tanggal Akhir</th>
                <th>Metode Pembayaran</th>
                <th>Tanggal Pembayaran</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transaction_history %}
              <tr>
                <td>{{ transaction.0 }}</td>
                <td>{{ transaction.1 }}</td>
                <td>{{ transaction.2 }}</td>
                <td>{{ transaction.3 }}</td>
                <td>{{ transaction.4 }}</td>
                <td>{{ transaction.5 }}</td>
                <td>{{ transaction.6 }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
{% endblock %}
