{% extends 'base.html' %}
{% load custom_filter %}

{% block title %}Episode Detail{% endblock %}

{% block content %}
<div class="container">
    <h1>Episode Detail</h1>
    {% if episode %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Judul Series: {{ episode.series_judul }}</h5>
            <h5 class="card-title">Sub-judul Episode: {{ episode.sub_judul }}</h5>
            <div class="slider">
                <form id="progressForm" action="" method="post">
                    {% csrf_token %}  
                    <input type="hidden" name="id" value="{{ episode.id }}">
                    <input type="hidden" name="tipe" value="series">
                    <input type="hidden" name="subjudul" value="{{ episode.sub_judul }}">
                    <input type="hidden" name="durasi" value="{{ episode.durasi }}">
                    <label for="progress" class="form-label"><b>Progress:</b></label>
                    <input type="range" class="form-range" name="progress" id="progress">
                </form>
              </div>
              <div class="btn-group" role="group">
                <button class="btn btn-primary mb-2" id="btnTonton" onclick="">Tonton</button>
            </div>
            <p class="card-text">Sinopsis: {{ episode.sinopsis }}</p>
            <p class="card-text">Durasi: {{ episode.durasi }} menit</p>
            <p class="card-text">Tanggal Rilis: {{ episode.release_date }}</p>
            <p class="card-text">URL: <a href="{{ episode.url_video }}">Tonton</a></p>
        </div>
    </div>

    <h3>Episode Lainnya:</h3>
    <div class="list-group">
        {% for other_episode in other_episodes %}
            <a href="" class="list-group-item list-group-item-action">{{ other_episode.sub_judul }}</a>
        {% endfor %}
    </div>
    {% else %}
    <p>Episode tidak ditemukan.</p>
    {% endif %}
</div>
{% endblock %}
