{% extends 'base.html' %}

{% block title %}Episode Detail{% endblock %}

{% block content %}
<h1>Episode Detail</h1>
<h2>Judul: "Goodbye, Summer Days"</h2>
<h3>Sub Judul: "Sayonara Natsu no Hi"</h3>
<p>Sinopsis: Shinpei Ajiro returns to Hitogashima for the first time in two years to reconnect with his old life. In Hitogashima, there is a legend about people who see their own shadow and later die.</p>
<p>Durasi Episode: 23 menit</p>
<p>Tanggal Rilis: April 15, 2022</p>
<p>URL Episode: Currently unavailable</p>

<!-- Bagian Ulasan -->
<div class="card shadow mt-3">
    <div class="card-body">
        <h2>Bagian Ulasan</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="deskripsi">Deskripsi Ulasan:</label>
                <input type="text" class="form-control" id="deskripsi" placeholder="Masukkan deskripsi ulasan Anda" required>
            </div>
            <div class="form-group">
                <label for="rating">Rating:</label>
                <input type="number" class="form-control" id="rating" min="1" max="10" placeholder="Rating (1-10)" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
<p></p>
        <h3>Daftar Ulasan:</h3>
        <ul>
            <li>Ga sabar episode 2!!! - 8.4</li>
        </ul>
    </div>
</div>
{% endblock %}
