{% extends 'base.html' %}
{% load custom_filter %}

{% block title %}Film Detail{% endblock %}

{% block content %}
<h1>Film Detail</h1>
<div class="film-detail">
    <div class="card">
        <img src="http://img.youtube.com/vi/{{ film.url_video_trailer|youtube_id }}/hqdefault.jpg" class="card-img-top" alt="{{ film.judul }} thumbnail">
        <div class="card-body">
            <h5 class="card-title">{{ film.judul }}</h5>
            <div class="slider">
                <form id="progressForm" action="" method="post">
                    {% csrf_token %}  
                    <input type="hidden" name="id" value="{{ film.id }}">
                    <input type="hidden" name="tipe" value="film">
                    <input type="hidden" name="durasi" value="{{ film.durasi_film }}">
                    <label for="progress" class="form-label"><b>Progress:</b></label>
                    <input type="range" class="form-range" name="progress" id="progress">
                </form>
              </div>
              <div class="btn-group" role="group">
                <button class="btn btn-primary mb-2" id="btnTonton" onclick="">Tonton</button>
            </div>
            <h2>
                <a href="">
                    <button class="btn btn-primary mb-2" id="btnUnduh" data-bs-toggle="modal" data-bs-target="#downloadModal" data-id= "{{ film.id }}">Unduh</button>
                </a>
            </h2>
            <h2>
                <button class="btn btn-primary mb-2" id="btnFavorit" data-bs-toggle="modal" data-bs-target="#favoriteListModal">Jadikan Favorit</button>
            </h2>
            <p class="card-text">{{ film.sinopsis }}</p>
            <p class="card-text">Durasi Film: {{ film.durasi_film }} menit</p>
            <p class="card-text">Tanggal Rilis: {{ film.release_date }}</p>
            <p class="card-text">Total View: {{ film.total_views }}</p>
            <p class="card-text">Rating Rata-Rata: {{ film.average_rating }}</p>
            <p class="card-text">URL Film: <a href="{{ film.url_video_trailer }}">Tonton Trailer</a></p>
            <h3>Genre:</h3>
            <ul>
                {% for genre in film.genre %}
                    <li>{{ genre }}</li>
                {% endfor %}
            </ul>
            <h3>Asal Negara: {{ film.asal_negara }}</h3>
            <h3>Pemain:</h3>
            <ul>
                {% for actor in film.pemain %}
                    <li>{{ actor }}</li>
                {% endfor %}
            </ul>
            <h3>Penulis Skenario:</h3>
            <ul>
                {% for writer in film.penulis_skenario %}
                    <li>{{ writer }}</li>
                {% endfor %}
            </ul>
            <h3>Sutradara:</h3>
            <ul>
                {% for director in film.sutradara %}
                    <li>{{ director }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="modal fade" id="favoriteListModal" tabindex="-1" aria-labelledby="favoriteListModalLabel" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="favoriteListModalLabelTitle">Modal Daftar Favorit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <select class="form-select mb-3" id="dropdown-favorite">
                        <option value="select-daftar-favorit">Judul Daftar Favorit: </option>
                        {% for judul_daftar in list_daftar_favorit %}
                        <option value=""></option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <a id="link_add_favorite" href="#">
                        <button type="button" class="btn btn-primary" id="button_add_favorite" data-bs-dismiss="modal">Tambah</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="downloadModal" tabindex="-1" aria-labelledby="downloadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="downloadModalLabelTitle">Berhasil Ditambah ke Daftar Unduhan!</h1>
                </div>
                <div class="modal-body" id="downloadModalBody">
                    <p>
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="" class="text-white hover:text-gray-300 me-2">
                        <button type="button" class="btn btn-primary mb-2">Daftar Unduhan</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bagian Ulasan -->
    <div class="row-md-4">
        <h2 class="title">Bagian Ulasan</h2>
        <div class="form-group">
            <form action="{% url 'trailer:add_ulasan' %}" method="post">
                {% csrf_token %}  
                <input type="hidden" name="id_tayangan" value="{{ film.id }}">
                <input type="hidden" name="tipe" value="film">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-2" id="inputUlasan" name="deskripsi" placeholder="Deskripsi Ulasan" maxlength="255" required>
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control mb-2" id="inputRating" name="rating" placeholder="Rating (1-10)" min="1" max="10" required>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary mb-2" id="btnSubmit">Kirim Ulasan</button>
                    </div>
                </div>
            </form>
        </div>
        {% if messages %}
        <div class="message-container">
            <ul class="messages">
                {% for message in messages %}
                {% if 'ulasan' in message.tags %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <h5><b>Daftar Ulasan:</b></h5>
        <ul class="list-disc pl-4" id="daftarUlasan">
            {% for item in reviews %}
            <b>Username:</b> {{ item.username }}</br>
            <b>Rating:</b> {{ item.rating }}</br>
            <b>Deskripsi:</b> {{ item.deskripsi }}</br></br>
            {% empty %}
            <div class="empty">Belum ada ulasan</div>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    document.getElementById("btnSubmit").addEventListener("click", function() {
        var inputRating = document.getElementById("inputRating").value;
        if (isNaN(inputRating) || inputRating < 0 || inputRating > 10) {
            alert("Rating harus dalam rentang 0-10");
            return false;
        }
        console.log("Rating: " + inputRating);
    });
</script>
{% endblock %}
