{% extends 'base.html' %}

{% block title %}Series Detail{% endblock %}

{% block content %}
<h1>Series Detail</h1>
<div class="series-detail">
    <div class="card">
        <div class="card-body">
            <h2>Judul: {{ series.judul }}</h2>
            <h3>Episode:</h3>
            {% if series.episodes %}
                <div class="card">
                    <div class="card-body">
                        <ul>
                            {% for episode in series.episodes %}
                            <a href="{% url 'trailer:episode_detail' id=series.id sub_judul=episode.title %}"class="list-group-item">>{{ episode.title }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
                <p>Currently not available</p>
            {% endif %}
            <h2>
                <button class="btn btn-primary mb-2" id="btnFavorit" data-bs-toggle="modal" data-bs-target="#favoriteListModal" data-judul_tayangan="">Jadikan Favorit</button>
            </h2>
            <h2>
                <a href=""><button class="btn btn-primary mb-2" id="btnUnduh" data-bs-toggle="modal" data-bs-target="#downloadModal" data-id= "{{ series.id }}">Unduh</button></a>
            </h2>
            <p>Sinopsis: {{ series.sinopsis }}</p>
            <p>Total View: {{ series.total_views }}</p>
            <p>Rating Rata-Rata: {{ series.average_rating }}</p>
            <h3>Genre:</h3>
            <ul>
                {% for genre in series.genre %}
                    <li>{{ genre }}</li>
                {% endfor %}
            </ul>
            <h3>Asal Negara: {{ series.asal_negara }}</h3>
            <h3>Pemain:</h3>
            <ul>
                {% for actor in series.pemain %}
                    <li>{{ actor }}</li>
                {% endfor %}
            </ul>
            <h3>Penulis Skenario:</h3>
            <ul>
                {% for writer in series.penulis_skenario %}
                    <li>{{ writer }}</li>
                {% endfor %}
            </ul>
            <h3>Sutradara:</h3>
            <ul>
                {% for director in series.sutradara %}
                    <li>{{ director }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Bagian Ulasan -->
    <div class="row-md-4">
        <h2 class="title">Bagian Ulasan</h2>
        <div class="form-group">
            <form action="{% url 'trailer:add_ulasan' %}" method="post">
                {% csrf_token %}  
                <input type="hidden" name="id_tayangan" value="{{ series.id }}">
                <input type="hidden" name="tipe" value="series">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-2" id="inputUlasan" name="deskripsi" placeholder="Deskripsi Ulasan" maxlength="255" required>
                    </div>
                    <div class="col-md-2">
                        <input type="number" class="form-control mb-2" id="inputRating" name="rating" placeholder="Rating (1-10)" min="1" max="10" required>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary mb-2" id="btnSubmit">Kirim Ulasan</button>
                    </div>
                </div>
            </form>
        </div>
        {% if messages %}
        <div class="message-container">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <h5><b>Daftar Ulasan:</b></h5>
        <ul class="list-disc pl-4" id="daftarUlasan">
            {% for item in reviews %}
            <b>Username:</b> {{ item.username }}</br>
            <b>Rating:</b> {{ item.rating }}</br>
            <b>Deskripsi:</b> {{ item.deskripsi }}</br></br>
            {% empty %}
            <div class="empty">Belum ada ulasan</div>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    document.getElementById("btnSubmit").addEventListener("click", function() {
        var inputRating = document.getElementById("inputRating").value;
        if (isNaN(inputRating) || inputRating < 0 || inputRating > 10) {
            alert("Rating harus dalam rentang 0-10");
            return false;
        }
        console.log("Rating: " + inputRating);
    });
</script>
{% endblock %}
